<div class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <p class="title">Menu</p>
        <p>Home</p>
        <p>My Team</p>
        <p>Transfer</p>
        <p>Select Team</p>
        <p>contact us</p>
        <p>Leagues</p>
        <p>Results</p>
      </div>
      <div class="column is-one-quarter">
        <p class="title">Social</p>
        <p>Facebook</p>
        <p>Twitter</p>
        <p>instagram</p>
        <p>youtube</p>

      </div>
      <div class="column is-one-quarter">
        <p class="title">Communities</p>
        <p>Reddit</p>
        <p>Discord</p>
        <p></p>
      </div>
      <div class="column">
        <p class="title">About</p>
        <p>How to play</p>
        <p>About us</p>
        <p>Contact us</p>
        <p>Beta Program</p>
      </div>

    </div>
    <div class="columns">
      <div class="column">
          <p>Copyright Fantasy Coin 2019</p>
      </div>
     
    </div>
  </div>

</div>