<div class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <p class="title">Menu</p>
        <a routerLink="/">Home</a> <br/>
        <a [routerLink]="[ '/my-team']">My Team</a> <br/>
        <a [routerLink]="[ '/transfers']">Transfers</a><br/>
       <a [routerLink]="[ '/contact-us']">contact us</a><br/>
       <a [routerLink]="[ '/leagues']">Leagues</a><br/>
       <a [routerLink]="[ '/results']">Results</a>
       
      </div>
      <div class="column is-one-quarter">
        <p class="title">Social</p>
        <a href="https://www.facebook.com/Fantasy-coiner-109833420357133/" target="blank">Facebook</a>
        <p>Twitter</p>
        <p>instagram</p>
        <p>youtube</p>

      </div>
      <div class="column is-one-quarter">
        <p class="title">Communities</p>
        <a href="https://www.reddit.com/r/fantasycoiner/" target="blank">Reddit</a>
        <p>Discord</p>
        <p></p>
      </div>
      <div class="column">
        <p class="title">About</p>
        <p>How to play</p>
        <p>About us</p>
        <p>Contact us</p>
        <p>Beta Program</p>
      </div>

    </div>
    <div class="columns">
      <div class="column">
          <p>Copyright Fantasy Coin 2019</p>
      </div>
     
    </div>
  </div>

</div>