.footer{
  
    background: url('../../assets/images/background.png');
    background-size: cover;
    height: auto;
    padding-top: 8px;
    // padding-bottom: 8px;
    width: 100%;
}
.title{
    color: white;
}
a{
    color: white;
}