<div class="container">

    <div class="welcome">
      <div class="columns  is-desktop is-vcentered">
        <div class="column">
            <p class="subtitle">Hi </p>
        <p>Thank you for your interest in fatasycoiner,
          We are in early Beta and in experimental mode. <br/>
          Things that you should know: <br/></p>
          <ul class="list is-hoverable">
            <li class="list-item">You will be rewarded in fantasy coins for participation in this test.</li>
            <li class="list-item"> We are continuously adding features, competitions and rewards </li>
            <li class="list-item">  We will be randomly generating soccer player scores to determine winners.</li>
          </ul>
        
        
         <P>We appreciate your feedback.</P> 
  

        </div>
      </div>
      <div class="button is-primary">How to Play</div>
      
      </div>

</div>

