.myPitch{

background-image: url('../../../../assets/images/tranfers/pitch.png');
height: auto;
width: auto;
color: white;
background-size: cover;
}
.container{
    padding: 4px;
}
.keeper-area{
    margin-top: 4px;
    align-content: center;
    width: 100%;
    text-align: center;
}
.defenders-area, .mids-area{
    margin-top: 4px;
   align-content: center;
//    padding-left: 5%;
//    padding-right: 5%;
   width: 100%;
   text-align: center;

}