<div class="pitch">
    <div class="myPitch">
        <div class="container">
          <div class="keeper-area">
              <div class="keeper" id="keeper">
                  <img src="../../../../assets/images/design/add.png" alt="">
                </div>
      
          </div>
          <div class="defenders-area columns is-mobile">
            <div class="defender column is-one-quarter" id="defender1" >
                <img src="../../../../assets/images/design/add.png" alt="">
              </div>
              <div class="defender column is-one-quarter" id="defender1" >
                  <img src="../../../../assets/images/design/add.png" alt="">
                </div>
                <div class="defender column is-one-quarter" id="defender1" >
                    <img src="../../../../assets/images/design/add.png" alt="">
                  </div>
                  <div class="defender column is-one-quarter" id="defender1" >
                      <img src="../../../../assets/images/design/add.png" alt="">
                    </div>
          </div>
          <div class="mids-area columns is-mobile">
              <div class="defender column is-one-quarter" id="defender1" >
                  <img src="../../../../assets/images/design/add.png" alt="">
                </div>
                <div class="defender column is-one-quarter" id="defender1" >
                    <img src="../../../../assets/images/design/add.png" alt="">
                  </div>
                  <div class="defender column is-one-quarter" id="defender1" >
                      <img src="../../../../assets/images/design/add.png" alt="">
                    </div>
                    <div class="defender column is-one-quarter" id="defender1" >
                        <img src="../../../../assets/images/design/add.png" alt="">
                      </div>
            </div>
            <div class="mids-area columns is-mobile">
                <div class="stricker column is-one-quarter" id="stricker1" >
                    <img src="" alt="">
                  </div>
                  <div class="stricker column is-one-quarter" id="stricker2" >
                      <img src="../../../../assets/images/design/add.png" alt="">
                    </div>
                    <div class="stricker column is-one-quarter" id="stricker2" >
                        <img src="../../../../assets/images/design/add.png" alt="">
                      </div>
                      <div class="stricker column is-one-quarter is-hidden" id="stricker2" >
                          <img src="../../../../assets/images/design/add.png" alt="">
                        </div>
                    
              </div>
        
        </div>
      </div>

</div>

