<div class="userPage">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="card">
          <nav class="panel">
            <div class="panel-heading is-primary">{{userName}}</div>
            <div class="panel-block info">
              <p> <b>Information</b> </p>
            </div>
            <div class="panel-block">
                <p>Fantasy Coins: <b class="coins">{{user.balance}}</b> </p>
              </div>
              <div class="panel-block">
                  <p>TeamPoints: <b class="points">{{user.teamPoints}}</b> </p>
                </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
