.panel-heading {
    background: url('../../../assets/images/background.png');
    color: white;
  }

  .info{
      background: lightgray;
  }
.coins{
    color: gold;
}
.points{
    color: red;
}
.content{
    padding-top: 10px;
    padding-right: 5%;
    text-align: center;
    padding-bottom: 10px;
    background-color: rgb(245, 245, 245);
    color: black
}

.myTeam{
    margin-top: 8px;
}

.league{
    margin-top: 8px;
    border: rgb(219, 218, 218) solid 1px;
    align-content: center;
    padding: 4px;

}