<div class="userPage">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="card" *ngIf="user">
          <nav class="panel">
            <div class="panel-heading is-primary">{{userName}}</div>
            <div class="panel-block info">
              <p> <b>Information</b> </p>
            </div>
           
            <div class="panel-block">
                <p>Fantasy Coins: <b class="coins">{{user.balance}}</b> </p>
              </div>
              <div class="panel-block">
                  <p>TeamPoints: <b class="points">{{user.teamPoints}}</b> </p>
                </div>
          </nav>
        </div>
        <div class="card" *ngIf="user">
          <div class="league">
            <table class="table is-bordered">
              <thead>
              <tr class="is-selected">
                <th>Rank</th>
                <th>name</th>
                <th>Points</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
              </tr>
            </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="column">
        <div class="myInfo">
          <div class="columns" *ngIf="user">
            <div class="column is-half">
              <div class="c">
                <div class="content">
                    <p>Week's Points</p>
                    <p class=" title points">{{user.teamPoints}}</p>
                  </div>
                </div>
                
            </div>
            <div class="column is-half">
                <div class="c">
                  <div class="content">
                      <p>Fantasy Coins</p>
                      <p class=" title coins">{{user.balance}}</p>
                  </div>
                 
                </div>
              </div>
          </div>
        </div>
        <div class="card myTeam">
         <div class="panel">
            <div class="panel-heading is-primary">My Team</div>
         </div>
         <div class="panel-block">
        <app-user-team *ngIf="userTeam" [userTeam] ="userTeam"></app-user-team>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
