<div class="choose">
    <header class="card-header myTitle">
<p class="">Build your team</p>
    </header>

    <div class="headings">
      <div class="columns">
        <div class="column is-one-quarter ">
         <div class="money has-text-white">
           <p>fantasy coins</p>
           <p class="coins"> {{tokenService.getTokenCount()}}</p>
         </div>
        </div>
        <div class="column is-one-quarter">
            <div class="money has-text-white">
                <p>Players Selected</p>
                <div>
                  <span *ngIf="completeTeam()">{{playerCount}}/11</span>
                  <!-- <p>/11</p> -->
                </div>
                
              </div>
           </div>
           <div class="column is-one-quarter ">
              <div class="money has-text-white">
               <button class="button">Reset</button>
                </div>
           </div>
           <div class="column is-one-quarter">
               <div class="box has-background-danger" >
                 <p class="subtitle -3 has-text-white">100</p>
               </div>
              </div>

      </div>
    </div>
<div class="pitch">
<div *ngIf="!teamPlayers" class="empty">
  <img src="../../assets/images/design/add.png" alt="" height="auto" width="150px">
</div>


 <div class="columns is-multiline">
  
   <div class="column is-one-quarter is-centered" *ngFor="let p of teamPlayers">
      <div class="card">
          <header class="card-header">
              <p class="card-header-title">
                {{p.web_name |slice: 0:10}}
              </p>
              <a (click)="removePlayer(p)" class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i  class="material-icons">
                        cancel</i>
                </span>
              </a>
            </header>
          <div class="card-image">
              <figure class="image is-96x96 media-center">
                  <img [src]= "'../../assets/images/kits/' + p.team_code + '.png' "
                  alt="">
              </figure>
            </div>
            <div class="card-content"></div>
            <footer class="card-footer">
                <p class="name">{{p.web_name}}</p>
                </footer>
              <footer class="card-footer">
                <p class="card-footer-item">points:</p>
                <p class="card-footer-item points">{{p.pointsWeek}}</p>
  
                </footer>
      </div>
   </div>
  
 </div>

</div>
<div class="column">
    <button class="button is-large is-fullwidth is-half is-primary" (click)="submit()"
     [ngClass]="{'is-loading': showLoading}">

      <span>Submit</span>
    </button>

</div>
