<div class="howto">
  <div class="container">
    <p class="title">How to Play(Beta)</p>
    <p class="subtitle is-3">Getting Started</p>
    <p class="subtitle is-6">Here are the basics of playing fantasy coin.</p>
    <p class="subtitle is-5">Buying</p>
    <p>Build an 11-player team with players from across the 20 teams. Each player costs fantasy coin depending on their previous and expected performance and demand for their services in the market.
        Click submit and you will be redirected to a league page.
        </p>
        <p><br/></p>
        <p class="subtitle is-5">Leagues</p>
        <p>Each league has a prize for the best performing teams. The prize in form of fantasy coins, can be used to build an even more star-studded team.</p>
        <p>You only enter each league once. <br/>
            Each league runs for exactly one game week. And winners are calculated determined by the highest total points by each individual team.
            </p>
            <p><br/></p>
            <p class="subtitle is-5">Market</p>
            <p>You can sell / buy new players at the market using fantasy coins.</p>
  </div>
</div>