<div class="beta">
  <article class="message is-warning">
    <div class="message-header">
      <p>Hi <strong>{{userName}}</strong></p>
      <a href="/" class="delete" aria-label="delete"></a>
    </div>
    <div class="message-body">
      Thank you for your interest in fantasy coin. We are in <strong>beta</strong> and are awarding <strong>free</strong> fantasy coins to <strong>selected</strong> users to <strong>test</strong> the platform. <br/>
      Please check your email <p *ngIf="userEmail">{{userEmail}}</p> within 24hrs to confirm if you have been awarded fantasy coins to participate <br/>
      Thank You <br/>
      Dev Team.
    </div>
    <div class="message-footer">
      <div class="field is-grouped is-grouped-centered">
        <p class="control">
          <button class="button is-warning">
           How to Play
          </button>
        </p>
        <p class="control">
          <a class="button is-light" href="/">
            Cancel
          </a>
        </p>
      </div>
    </div>
  </article>
</div>
