<div class="logo">
  <div class="container bg is-hidden-mobile">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/eicester.png" width="40px" alt="leicester">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/arsenal.png" width="40px" alt="arsenal">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/burnley.png" width="40px" alt="burnley">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/brighton.png" width="40px" alt="brighton">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/bournemouth.gif" width="40px" alt="bournemouth">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/burnley.png" width="40px" alt="burnley">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/crystal.png" width="40px" alt="crystal">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/everton.png" width="40px" alt="everton">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/liverpool.png" width="40px" alt="liverpool">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/manchester.png" width="40px" alt="manu">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/Manchester-City.png" width="40px" alt="Manchester-City">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/newcastle.png" width="40px" alt="newcastle">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/norwich.png" width="40px" alt="norwich">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/sheffield.png" width="40px" alt="sheffield">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/southhampton.png" width="40px" alt="southhampton">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/tottenham.png" width="40px" alt="tottenham">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/villa.png" width="40px" alt="villa">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/Watford.png" width="40px" alt="Watford">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/westham.png" width="40px" alt="westham">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/wolves.png" width="40px" alt="wolves">

  </div>
</div>