<div class="logo">
  <div class="container bg">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/leicester.png" width="40px" alt="leicester">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/arsenal.png" width="40px" alt="arsenal">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/burnley.png" width="40px" alt="burnley">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/brighton.png" width="40px" alt="brighton">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/bournemouth.gif" width="40px" alt="bournemouth">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/burnley.png" width="40px" alt="burnley">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/crystal.png" width="40px" alt="crystal">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/everton.png" width="40px" alt="everton">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/liverpool.png" width="40px" alt="liverpool">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/manchester.png" width="40px" alt="manu">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/Manchester-City.png" width="40px" alt="Manchester-City">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/newcastle.png" width="40px" alt="newcastle">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/norwich.png" width="40px" alt="norwich">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/sheffield.png" width="40px" alt="sheffield">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/southhampton.png" width="40px" alt="southhampton">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/tottenham.png" width="40px" alt="tottenham">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/villa.png" width="40px" alt="villa">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/Watford.png" width="40px" alt="Watford">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/westham.png" width="40px" alt="westham">
    <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logos/wolves.png" width="40px" alt="wolves">

  </div>
</div>