
<div class="leagues">
   <div class="container" *ngIf="showLoading">

    <div class="column spinner button is-loading is-large"></div>
   </div>
  <div class="container">
    <div class="competitions">
      
      <div class="box" *ngIf="!showLoading">
         <div class="compe" *ngFor="let c of competitions">
          <div class=" columns" >
              <table class="table  is-fullwidth is-striped">
                  <thead>
                    <tr>
                      <th>Competion</th>
                      <th>Prize</th>
                      <th>Players</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{c.Title}}</td>
                      <td>{{c.prizeMoney}} Fantasy Coins</td>
                      <td>{{c.maxPlayers}}</td>
                    </tr>
                  </tbody>
              </table>
          </div>
 
     

         </div>
      </div>
     
    </div>
  </div>

</div> 