<div class="unlock">
        <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                   unlock metamask
                  </p>
                  <a href="#" class="card-header-icon" aria-label="more options">
                    <span >
                      <button class="button">cancel</button>
                    </span>
                  </a>
                </header>
                <div class="card-content">
                  <div class="content">
                    <img src="../../../assets/images/gifs/unlock-metamask.gif" alt="">
                    
                  </div>
                </div>
                <!-- <footer class="card-footer">
                  <a href="#" class="card-footer-item">Save</a>
                  <a href="#" class="card-footer-item">Edit</a>
                  <a href="#" class="card-footer-item">Delete</a>
                </footer> -->
              </div>
</div>
