<div class="home">
  <div class="mainTitle">
    <div class="container">
      <div class="column">
          <p>The First Crypto Coins Based Fantasy Football</p>
          <p class="title">Build a Team. Choose your players.
              <br/> Earn Crypto coins</p>
    
              <button class="button is-warning">Get started</button>
  

      </div>
       
    </div>


  </div>
  <div class="promo">
   
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-half">
                <div class="card">
                  <div class="image">
                    <div class="column">
                        <img src="../../../assets/images/tranfers/tranfers.png" alt="">
                    </div>
                  
                  </div>
                </div>
            </div>
            <div class="column is-half">
              <div class="card">
                  <div class="image">
                      <div class="column">
                          <img src="../../../assets/images/tranfers/how to play.png" alt="">
                      </div>
                  
                    </div>
              </div>
               
                </div>
                <div class="column is-half">
                    <div class="card">
                        <div class="image">
                            <div class="column">
                                <img class="soon" src="../../../assets/images/tranfers/commingsoon.png" alt="">
                            </div>
                        
                          </div>
                    </div>
                     
                      </div>
          </div>

    </div>
  
  </div>
</div>
