@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

.home{
    font-family: 'Old Standard TT', serif;
    height: 500px;
    background: #303F9F;
    color:  white;
    border-top: gainsboro solid 1px;
    margin-top: 4px;
}
.title{
    color: white;
}
.mainTitle{
    margin: 8px;
    // padding-left: 5%;
    padding-top: 5%;
    text-align: center;
}