.main{
  // font-family: 'Old Standard TT', serif;
    color: aliceblue;
    background: url('../../assets/images/background.png');
    background-size: cover;
    height: 300px;
    padding-top: 8px;
   

}
.mainBody{
   min-height: 400px;
   margin-top: 0px;
   margin-bottom: 1px;

}
.footer{
   width: 100%;
}