<div class="page-loader"><span class="title" *ngIf="!loader.isLoaded">
        <div class="home-loading"></div>
</span></div>


<div class="main" *ngIf="loader.isLoaded">
        <app-menu></app-menu>
        <app-branding></app-branding> 
        <app-banner></app-banner>
        <!-- <app-logos></app-logos> -->
        <app-login-horizontal></app-login-horizontal>
    <!-- <button (click)="checkIfNew()">test</button> -->
    <app-logos></app-logos>
        <div class="mainBody">
            <!-- twak to code -->
            
                        <router-outlet></router-outlet>

                     
                        </div>

    <app-footer></app-footer>
    


</div>