.main{
    color: aliceblue;
    background: url('../../assets/images/background.png');
    background-size: cover;
    height: 250px;
     padding-top: 8px;
     padding-bottom: 8px;

}
/* .mainBody{
    // background-color: rgba($color: rgb(16, 112, 238), $alpha: 0.65);

} */
