@import 'bulma';
@import '~bulma-pageloader';



.main{
  // font-family: 'Old Standard TT', serif;
    color: aliceblue;
    background: url('../../assets/images/background.png');
    background-size: cover;
    height: 300px;
    padding-top: 8px;
   

}
.mainBody{
   min-height: 400px;
   margin-top: 0px;
   margin-bottom: 1px;

}
.footer{
   width: 100%;
}
page-loader{
   background-color: white;
   background-size: cover;
   position: relative;

}

.home-loading{
   background: url('../../assets/images/gifs/logo/newLogo.png');
   background-repeat: no-repeat;
   width: 60px;
   height: 45px;
   -webkit-animation: rotation 2s infinite linear;
   margin: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes rotation {
   from {
           -webkit-transform: rotate(0deg);
   }
   to {
           -webkit-transform: rotate(360deg);
   }
}