<div class="teams">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter">
                  <div class="card">
                      <nav class="panel">
                        <div class="panel-heading is-primary">Select Players</div>
                        <div class="panel-block">
                          Choose from a club
                        </div>
                        <div class="panel-block">
                            <div class="navbar-item has-dropdown is-hoverable button">
                                <a class="navbar-link " routerLink='/teams'>
                                 Select Team
                                </a>
                                <div class="navbar-dropdown is-boxed" >
                                    <a *ngFor="let t of teams" class="navbar-item" (click)=" selectTeam(t.code)">
                                      {{t.name}}
                                    </a>
                                  </div>
                              </div>
      
                        </div>
                        <div class="goalkeepers">
                            <div class="panel-block heading has-background-warning">
                                <span>
                                    <div class="heading is-warning">Goal Keepers</div>
                                </span>
      
      
                              </div>
                              <div class="panel-block is-small" >
                                <div *ngIf="!SpecialKeepers" class="button is-large is-loading is-warning is-outlined">Loading</div>
                                  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                                    <tr class="is-hoverable" [ngClass]="checkIfPlayerisSelected(g)? 'is-selected':'not-selected'"  (click)="selectPlayer(g)" *ngFor="let g of SpecialKeepers">
                                      <td class="jersey"></td>
                                      <td>{{g.web_name}}</td>
                                      <td>{{g.pointsTotal}}</td>
                                      <td>{{g.now_cost}}</td>
                                    </tr>
                                  </table>
                              </div>
      
                        </div>
                        <div class="defenders">
                            <div class="panel-block heading has-background-primary">
                                <span>
                                    <div class="heading">Defenders</div>
                                </span>
      
      
                              </div>
                              <div class="panel-block is-small" >
                                <div *ngIf="!SpecialDefs" class="button is-large is-loading is-primary is-danger">Loading</div>
                             <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                               <tr class="is-hoverable" [ngClass]="checkIfPlayerisSelected(d)? 'is-selected':'not-selected'" (click)="selectPlayer(d)" *ngFor="let d of SpecialDefs">
                                 <td class="jersey"></td>
                                 <td>{{d.web_name}}</td>
                                 <td>{{d.pointsTotal}}</td>
                                 <td>{{d.now_cost}}</td>
                               </tr>
                             </table>
                         </div>
      
                        </div>
                        <div class="mids">
                            <div class="panel-block heading has-background-danger has-text-white">
                                <span>
                                    <div class="heading is-warning">Midfielders</div>
                                </span>
      
      
                              </div>
                              <div class="panel-block is-small"  >
                                <div *ngIf="!SpecialMids" class="button is-large is-loading  is-danger is-outlined">Loading</div>
                             <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                               <tr class="is-hoverable" [ngClass]="checkIfPlayerisSelected(d)? 'is-selected':'not-selected'" (click)="selectPlayer(d)" *ngFor="let d of SpecialMids">
                                 <td class="jersey"></td>
                                 <td>{{d.web_name}}</td>
                                 <td>{{d.pointsTotal}}</td>
                                 <td>{{d.now_cost}}</td>
                               </tr>
                             </table>
                         </div>
      
                        </div>
      
      
      
                       </nav>
                       <div class="Attackers">
                          <div class="panel-block heading has-background-info has-text-white">
                              <span>
                                  <div class="heading is-warning">Attackers</div>
                              </span>
      
      
                            </div>
                            <div class="panel-block is-small">
                              <div *ngIf="!SpecialAttacks" class="button is-large is-loading  is-info is-outlined">Loading</div>
                           <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                             <tr class="is-hoverable" [ngClass]="checkIfPlayerisSelected(d)? 'is-selected':'not-selected'" (click)="selectPlayer(d)" *ngFor="let d of SpecialAttacks">
                               <td class="jersey" ></td>
                               <td>{{d.web_name}}</td>
                               <td>{{d.pointsTotal}}</td>
                               <td>{{d.now_cost}}</td>
                             </tr>
                           </table>
                       </div>
      
                      </div>
      
      
                  </div>
      
                </div>
      
                <div class="column">
                  <div class="card pitch">
                  <div class="story">
                    <p class="subtitle is-4">
                      Build Team
                    </p>
                    <p>Select a maximum of 3 players from a single Team</p>
                  </div>
                  <div class="card">
                <app-pitch *ngIf="teamPlayers" [teamPlayers] ="teamPlayers"></app-pitch>
                  </div>
                  </div>
                </div>
              </div>
      
        </div>
      
      </div>
      