<div class="container" *ngIf="showLoading">

      <!-- <div class="column spinner button is-loading is-large"></div> -->
      <!-- <div class="my-loading"></div> -->



</div>

<div class="teams">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter">
                  <div class="card">
                      <nav class="panel">
                        <div class="panel-heading is-primary"><p> Select Players</p> </div>
                        <div class="panel-block">
                          Choose from a club
                        </div>
                        <div class="panel-block">
                            <div class="navbar-item has-dropdown is-hoverable button">
                                <a class="navbar-link " routerLink='/teams'>
                                 Select Team
                                </a>
                                <div class="navbar-dropdown is-boxed" >
                                    <a *ngFor="let t of teams" class="navbar-item" (click)=" selectTeam(t.code)">
                                     <p> {{t.name}}</p>
                                  
                                    </a>
                                  </div>
                              </div>
      
                        </div>
                        <div class="goalkeepers">
                            <div class="panel-block heading has-background-warning">
                                <span>
                                    <div class="heading is-warning">Goal Keepers</div>
                                </span>
      
      
                              </div>
                              <div class="panel-block is-small" >
                                <div *ngIf="!SpecialKeepers" class="my-loading"></div>
                                  <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                                    <tr *ngIf="SpecialKeepers" class="is-size-7">
                                      <th class="jersey"></th>
                                      <th>Name</th>
                                      <th>Points</th>
                                      <th>$</th>
                                    </tr>
                                    <tr class="is-hoverable" [ngClass]="data.checkIfAlreadyInTeam(g)? 'is-selected':'selected'"  (click)="selectPlayer(g)" *ngFor="let g of SpecialKeepers">
                                      <td class="jersey"><img [src]= " '../../assets/images/logos/number/'+ g.team_code + '.png' "
                                        height="auto" width="15"></td>
                                      <td><p class="is-size-7">{{g.web_name}}</p></td>
                                      <td><p class="is-size-7">${{g.pointsWeek}}</p></td>
                                      <td><p class="is-size-7">{{g.now_cost}}</p></td>
                                    </tr>
                                  </table>
                              </div>
      
                        </div>
                        <div class="defenders">
                            <div class="panel-block heading has-background-primary">
                                <span>
                                    <div class="heading">Defenders</div>
                                </span>
      
      
                              </div>
                              <div class="panel-block is-small" >
                                <div *ngIf="!SpecialDefs" class="my-loading"></div>
                             <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                                <tr *ngIf="SpecialDefs" class="is-size-7">
                                    <th class="jersey"></th>
                                    <th>Name</th>
                                    <th>Points</th>
                                    <th>$</th>
                                  </tr>
                               <tr class="is-hoverable" [ngClass]="data.checkIfAlreadyInTeam(d)? 'is-selected':'not-selected'" (click)="selectPlayer(d)" *ngFor="let d of SpecialDefs">
                                  <td class="jersey"><img [src]= " '../../assets/images/logos/number/'+ d.team_code + '.png' "
                                    height="auto" width="15"></td>
                               
                                 <td>{{d.web_name}}</td>
                                 <td>{{d.pointsWeek}}</td>
                                 <td>{{d.now_cost}}</td>
                               </tr>
                             </table>
                         </div>
      
                        </div>
                        <div class="mids">
                            <div class="panel-block heading has-background-danger has-text-white">
                                <span>
                                    <div class="heading is-warning">Midfielders</div>
                                </span>
      
      
                              </div>
                              <div class="panel-block is-small"  >
                                <!-- <div *ngIf="!SpecialMids" class="button is-large is-loading  is-danger is-outlined">Loading</div> -->
                                <div *ngIf="!SpecialMids" class="my-loading"></div>
                             <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                                <tr *ngIf="SpecialMids"  class="is-size-7 ">
                                    <th class="jersey"></th>
                                    <th>Name</th>
                                    <th>Points</th>
                                    <th>$</th>
                                  </tr> 
                              <tr class="is-hoverable" [ngClass]="data.checkIfAlreadyInTeam(d)? 'is-selected':'not-selected'" (click)="selectPlayer(d)" *ngFor="let d of SpecialMids">
                                 
                                  <td class="jersey"><img [src]= " '../../assets/images/logos/number/'+ d.team_code + '.png' "
                                    height="auto" width="15"></td>
                                 <td>{{d.web_name}}</td>
                                 <td>{{d.pointsWeek}}</td>
                                 <td>{{d.now_cost}}</td>
                               </tr>
                             </table>
                         </div>
      
                        </div>
      
      
      
                       </nav>
                       <div class="Attackers">
                          <div class="panel-block heading has-background-info has-text-white">
                              <span>
                                  <div class="heading is-warning">Attackers</div>
                              </span>
      
      
                            </div>
                            <div class="panel-block is-small">
                              <div *ngIf="!SpecialMids" class="my-loading"></div>
                           <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                              <tr *ngIf="SpecialAttacks" class="is-size-7">
                                  <th class="jersey"></th>
                                  <th>Name</th>
                                  <th>Points</th>
                                  <th>$</th>
                                </tr> 
                            <tr class="is-hoverable" [ngClass]="data.checkIfAlreadyInTeam(d)? 'is-selected':'not-selected'" (click)="selectPlayer(d)" *ngFor="let d of SpecialAttacks">
                                <td class="jersey"><img [src]= " '../../assets/images/logos/number/'+ d.team_code + '.png' "
                                  height="auto" width="15"></td>
                              
                               <td>{{d.web_name}}</td>
                               <td>{{d.pointsWeek}}</td>
                               <td>{{d.now_cost}}</td>
                             </tr>
                           </table>
                       </div>
      
                      </div>
      
      
                  </div>
      
                </div>
      
            
              </div>
      
        </div>
      
      </div>
      