.teams{
    /* // margin-top: 8px; */

    height: 400px;
    color: black;
    padding: 8px;

}
.bg{
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 0.5%;
    min-height: 400px;
    padding: 8px;

}
.pitch{
    /* // background: url('../../assets/images/pitch2.png');
    // height:500px;
    // width: 300px;
    // background-repeat: no-repeat;
    padding: 10px; */
}
.panel-heading {
  background: url('../../assets/images/background.png');
  color: white;
}

.heading{
// background-color: #FFDD57;
padding: 4px;
width: 100%;
color: black;
}
.myplayers{
  text-align: center;
}
.jersey{

  background: grey;
}


.name{
  text-align: center;


}
.points{
  text-align: center;
}
.cost{
  text-align: center;
  background-color: red;
}
