<div class="new-team">
  <div class="container">
    <div class="myText">
        <p class="subtitle">Select your team</p>
    <p>Select you team to compete with other players</p>
    </div>
    <div class="deadline">
      <!-- add info here -->
    </div>
    <div class="buttons">
      <div class="columns">
        <div class="column is-one-quarters-mobile is-half-tablet is-one-quarter-desktop"><button class="button is-primary">test</button></div>
        <div class="column is-one-quarters-mobile is-half-tablet is-one-quarter-desktop"><button class="button is-primary">test</button></div>
        <div class="column is-one-quarters-mobile is-half-tablet is-one-quarter-desktop"><button class="button is-primary">test</button></div>
        <div class="column is-one-quarters-mobile is-half-tablet is-one-quarter-desktop"><button class="button is-primary">test</button></div>


      </div>

    </div>
  

  </div>
</div>
