<div class="new-team">
  <div class="container">
    <div class="myText">
        <p class="subtitle">Select your team</p>
    <p>Select you team to compete with other players</p>
    </div>
    <div class="deadline">
      Select your team   
     </div>
    <div class="buttons">
        <div class="columns is-mobile is-multiline">
            <div class="column is-half-mobile is-half-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
             <div class="myTabs coins is-large">fantasy coins <br/>$ 100 ffc</div>
            </div>
            <div class="column is-half-mobile is-half-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
                <div class="myTabs  is-primary is-large">Players selected <br/> 0/11</div>
               </div>
               <div class="column is-half-mobile is-half-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
                  <div class="myTabs is-primary is-large">Reset Squad<br/><button class="button is-danger">Reset</button></div>
                 </div>
                 <div class="column is-half-mobile is-half-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
                  <div class="myTabs is-primary is-large">Auto pick <br/> <button class="button is-warning">AutoPick</button></div>
                   </div>
           
          </div>

    </div>
  

  </div>
</div>
