<div class="start">
 <nav class="navbar menu" role="navigation" arial-label="main navigation">
    <div (click)="toggle()">
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="container">
          <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
              
              <a class="navbar-item mytext" routerLink="/">
                Home
              </a>
              <a class="navbar-item mytext" routerLink="/my-team">
             My Team
              </a>
              <a class="navbar-item mytext" routerLink="/transfers">
                transfer
                  </a>
              <a class="navbar-item mytext" routerLink="/leagues">
            Leagues
              </a>
              <a class="navbar-item mytext" routerLink="/markets">
              Market
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link mytext" routerLink='/howto'>
                More
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" routerLink='/howto'>
                    how to play
                  </a>
                  <a class="navbar-item " routerLink='/feedback'>
                    feedback
                  </a>
            
                </div>
              </div>
            </div>
        
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
              
                
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown is-hidden-desktop mymenu">
            <div *ngIf="shown" class="navbar-dropdown">
                <a  (click)="toggle()" class="navbar-item" routerLink="/">
                  Home
                </a>
                <a (click)="toggle()" class="navbar-item mytext" routerLink="/my-team">
                  My Team
                   </a>
                   <a (click)="toggle()" class="navbar-item" routerLink="/transfers">
                    transfer
                 </a>
                 <a (click)="toggle()" class="navbar-item" routerLink="/leagues">
                  Leagues
                    </a>
                    <a (click)="toggle()" class="navbar-item" routerLink="/markets">
                      Market
                      </a>
                      <div class="navbar-item has-dropdown is-hoverable">
                          <a (click)="toggle()" class="navbar-link mytext" routerLink='/howto'>
                          More
                          </a>
                          <div class="navbar-dropdown is-boxed">
                            <a (click)="toggle()" class="navbar-item" routerLink='/howto'>
                              how to play
                            </a>
                            <a (click)="toggle()" class="navbar-item " routerLink='/feedback'>
                              feedback
                            </a>
                      
                          </div>
                        </div>
              </div>
        </div>

 </nav>
  <div class="myLogo">
    <div class="logo">
      <div class="container bg">
        <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/logo4.png"width="200px" alt="fantasy coiner logo">
    
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="container">
    <div class="myTitle"> The First Crypto Coins Based Football </div>
    </div>
    
  </div>
  <div class=" container login">
    
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary is-large is-focused" (click)="login()">{{buttonText}} </button>
        </div>
      
      </div>
  </div>

  <div class="home">
    <div class="mainTitle">
      <div class="container">
        <div class="column">
            <p>The First Crypto Coins Based Fantasy Football</p>
            <p class="title">Build a Team. Choose your players.
                <br/> Earn Crypto coins</p>
      
                <button class="button is-warning" (click)="loginPortis()">{{buttonText}}</button>
    
  
        </div>
         
      </div>
  
  
    </div>
    <div class="promo">
     
      <div class="container">
          <div class="columns is-multiline">
              <div class="column is-half">
                  <div class="card">
                    <div class="image">
                      <div class="column">
                          <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/transfers/tranfers.webp" alt="">
                      </div>
                    
                    </div>
                  </div>
              </div>
              <div class="column is-half">
                <div class="card" routerLink="/howto">
                    <div class="image">
                        <div class="column">
                            <img src="https://images-fantasy.s3.eu-west-3.amazonaws.com/transfers/how-to-play.webp" alt="">
                        </div>
                    
                      </div>
                </div>
                 
                  </div>
                  <!-- <div class="column is-half">
                      <div class="card">
                          <div class="image">
                              <div class="column">
                                  <img class="soon" src="../../../assets/images/tranfers/commingsoon.webp" alt="">
                              </div>
                          
                            </div>
                      </div>
                       
                        </div> -->
            </div>
  
      </div>
    
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <p class="title">Menu</p>
          <a routerLink="/">Home</a> <br/>
          <a [routerLink]="[ '/my-team']">My Team</a> <br/>
          <a [routerLink]="[ '/transfers']">Transfers</a><br/>
         <a [routerLink]="[ '/contact-us']">contact us</a><br/>
         <a [routerLink]="[ '/leagues']">Leagues</a><br/>
         <a [routerLink]="[ '/results']">Results</a>
         
        </div>
        <div class="column is-one-quarter">
          <p class="title">Social</p>
          <a href="https://www.facebook.com/Fantasy-coiner-109833420357133/" target="blank">Facebook</a>
          <p>Twitter</p>
          <p>instagram</p>
          <p>youtube</p>
  
        </div>
        <div class="column is-one-quarter">
          <p class="title">Communities</p>
          <a href="https://www.reddit.com/r/fantasycoiner/" target="blank">Reddit</a>
          <p>Discord</p>
          <p></p>
        </div>
        <div class="column">
          <p class="title">About</p>
          <p>How to play</p>
          <p>About us</p>
          <p>Contact us</p>
          <p>Beta Program</p>
        </div>
  
      </div>
      <div class="columns">
        <div class="column">
            <p>Copyright Fantasy Coin 2019</p>
        </div>
       
      </div>
    </div>
  
  </div>


  
</div>
