.start{
    min-height: 100%;
    width: 100%;
     background: url('../../../assets/images/background.webp');
    background-size: cover;
    color: aliceblue;
    padding-top: 8px;
    
}

.menu{
 
    border: 1px #3F51B5 solid;
    border-radius: 1%;
    background-color: #354295;
  
    color: black;
}
.mytext{
    color: white;
}
.button{
    margin-right: 4px;
}

.banner{
    height: 100px;
    margin-bottom: 4px;
}

.login{
 
    height: auto;
    padding: 4px;
    width:100%;}

.button{
  
    padding: 2px;
  
}

@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

.home{
    font-family: 'Old Standard TT', serif;
   
}
.title{
    color: white;
}
.mainTitle{
    height: 300px;
    background: #303F9F;
    color:  white;
    border-top: gainsboro solid 1px;
    margin-top: 4px;
}
.promo{
    background-color:white;
    min-height: 300px;
    color : black;
}
.soon{
    border: solid rgb(216, 215, 215) 1px;
}

body {
    text-align: center;
    padding: 100px 0 0 0;
    color: #fff;
    background: #1d1f20;
}

.footer{
  
    background: url('../../../assets/images/background.webp');
    background-size: cover;
    height: auto;
    padding-top: 8px;
    // padding-bottom: 8px;
    width: 100%;
}
.title{
    color: white;
}
a{
    color: white;
}