.start{
    min-height: 100%;
    width: 100%;
    // background: url('../../../assets/images/background.png');
    background-size: cover;
    color: aliceblue;
    padding-top: 8px;
    
}

.menu{
    // margin-top: 8px;
    border: 1px #3F51B5 solid;
    border-radius: 1%;
    background-color: #354295;
    //opacity: 0.75;
    color: black;
}
.mytext{
    color: white;
}
.button{
    margin-right: 4px;
}

.banner{
    height: 100px;
    margin-bottom: 4px;
}
myTitle{
    /* color: white; */

}
.login{
 
    height: auto;
    padding: 4px;
    width:100%;}

.button{
  
    padding: 2px;
  
}
