<article class="message is-warning">
  <div class="message-header">
    <p>Early Beta</p>
    <button class="delete" aria-label="delete" (click)="close()"></button>
  </div>
  <div class="message-body is-danger">
    Thank you for your interest in <strong> fantasy coin</strong>, <br/>
    We are in early Beta. <br/>
    <p class="subtitle is-6"><strong>Things that you should know:</strong><br/></p>
   <ul class="list">
     <li class="list-item">You will be rewarded in fantasy coins for participation in this test</li>
     <li class="list-item">We are continuously adding features, competitions and rewards </li>
     <li class="list-item">We will be randomly generating soccer player scores to determine winners.</li>
     <li class="list-item">We appreciate your feedback</li>
   </ul>
   <p>To continue click <a (click)="close()">Here</a></p>
   <p>Terms and conditions <a (click)="close()">ReadMore</a></p>
  </div>
</article>
