.name{
    background: rgb(35, 209, 96);
    color: white;
    padding: 0px;
    text-align: center;
}
.points{
    background: blue;
    color: white;
    padding: 0px;
    text-align: center;
}
.details{
    margin: 4px;
    padding: 4px;
    padding: 2px;
    border: rgb(160, 158, 158) solid 1px
}